
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');


body {
    font-family: 'Merriweather', serif;
}


.hero {
    background: url('https://media.istockphoto.com/id/1496414074/photo/traveler-man-standing-on-the-crater-of-kawah-ijen-volcano-with-sunrise-sky-in-the-morning.webp?b=1&s=170667a&w=0&k=20&c=Lu1JNLk8lOXXjuzpyfftIdAdLHoA8ss2ESYf1mbySP4=') no-repeat center center;
    background-size: cover;
    height: 500px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero h1 {
    font-family: 'Merriweather', serif;
    font-size: 4em;
    font-weight: 700;
}

.hero .btn {
    font-size: 1.5em;
}


.navbar {
    background-color: #f8f9fa !important;
}


.card {
    border: none;
}

.card-body {
    padding: 2em;
}

.card-title {
    font-size: 1.25em;
    font-weight: 700;
}

.card-text {
    font-size: 1em;
}


.form-group label {
    font-weight: 700;
}


footer {
    background-color: #f8f9fa;
}
